[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/suicidex
[access "refs/for/refs/*"]
	read = group user/suicidex
	push = group user/suicidex
	label-Code-Review = -2..+2 group user/suicidex
	label-Verified = -1..+1 group user/suicidex
	rebase = group user/suicidex
	removeReviewer = group user/suicidex
	submit = group user/suicidex
[access "refs/heads/*"]
	read = group user/suicidex
	create = group user/suicidex
	push = +force group user/suicidex
	pushMerge = group user/suicidex
[access "refs/tags/*"]
	push = group user/suicidex
	push = +force group user/suicidex
